@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#F2C12E,#593E25);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01151ac0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
color: #011F26;
text-align: center;
text-shadow: 1px 2px 0px #011f265d;

}

h2{
    color: #025E73;
}

p{
    text-align: justify;
}